body{
    background-color: antiquewhite ;
}

div{
    border: 1px solid ;
    width: 600px;
    background-color: white;
    padding: 10px;
    margin-right: 5px;
    margin-top: 15px;
}

.orange{
    background-color: rgb(255, 168, 6, 0.5);
    padding: 1px 3px;
}

.yellow{
    background-color: rgb(255, 255, 0, 0.5);
    padding: 1px 3px;
}

div:nth-of-type(2){
    border: 2px dashed ;
}

div:nth-of-type(2) p{
    border: 2px dashed red;
}

#lastp{
    color: #a30ab0;
}